<!DOCTYPE html>
<html ng-app="DMSApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>DMS</title>
    <base href="/">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <div class="md-topbar">
        <div class="topbar" layout="row">
            <ul class="left" flex="50">
                <li>
                    <a href="mailto:info@dmshouston.com?Subject=Hello DMS Team" target="_top">
                        <i class="fa fa-envelope"></i>
                    </a>
                &nbsp;</li> | 
                <li>&nbsp;
                    <a>
                        <i class="fa fa-phone"></i>
                    </a>
                </li>
            </ul>
            <ul class="right" flex="50">
                <li>
                    <a>
                        Sign In
                    </a>
                </li> |
                <li>
                    <a>
                        Create Account
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <md-toolbar ng-controller="NavBarController as vm">
        <div class="navbar" layout="row">
            <ul class="left" flex="20">
                <li>
                    <md-button>
                        <img src="~/Img/DMS_Logo_White.png" class="center-block" alt="DMS Logo" />
                    </md-button>
                </li>
            </ul>
            <ul class="right" flex="80">
                <li>
                    <md-menu md-offset="0 86">
                        <md-button aria-label="Open about interactions menu" ng-click="vm.openMenu($mdOpenMenu, $event)">Solutions</md-button>
                        <md-menu-content width="2">
                            <md-menu-item>
                                <md-button ui-sref="gaspro">
                                    GasPro
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ui-sref="gastrak">
                                    GasTrak
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ui-sref="energypro">
                                    EnergyPro
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </li>
                <li>
                    <md-menu md-offset="0 86">
                        <md-button aria-label="Open about interactions menu" ng-click="vm.openMenu($mdOpenMenu, $event)">Services</md-button>
                        <md-menu-content width="2">
                            <md-menu-item>
                                <md-button ui-sref="services.consulting">
                                    Consulting
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ui-sref="services.front">
                                    Trading
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ui-sref="services.middle">
                                    Logistics
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ui-sref="services.back">
                                    Accounting/Settlement
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </li>
                <li>
                    <md-menu md-offset="0 86">
                        <md-button aria-label="Open about interactions menu" ng-click="vm.openMenu($mdOpenMenu, $event)">Learn</md-button>
                        <md-menu-content width="2">
                            <md-menu-item>
                                <md-button ui-sref="education.academic">
                                    University
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ui-sref="education.certification">
                                    Certification
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ui-sref="education.publications">
                                    Publications
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </li>
                <li>
                    <md-menu md-offset="0 86">
                        <md-button aria-label="Open about interactions menu" ng-click="vm.openMenu($mdOpenMenu, $event)">About</md-button>
                        <md-menu-content width="2">
                            <md-menu-item>
                                <md-button ui-sref="about.profile">
                                    About Us
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ui-sref="about.history">
                                    Our History
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ui-sref="about.testimonials">
                                    Proven
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </li>
            </ul>
        </div>
    </md-toolbar>
        @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script> 
</body>
</html>
